@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HTTP POSTED FILE HELPER  [TEST ENVIRONMENT]</h1>
    <p class="lead">A Light- Weight Library for Posting Files to IIS Web Server.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*@using (Ajax.BeginForm("Home", "UploadFiles", new AjaxOptions() { HttpMethod = "Post" }, new { enctype = "multipart/form-data" }))
    {
    }*@

 <form>
    @*@Html.AntiForgeryToken()*@
    <input type="file" id="file" name="files" />
    <input type="file" id="file" name="files" />
    <input type="file" id="file" name="files" />
    <input type="file" id="file" name="files" />

     @*<div id="dropArea" style="width:300px; height:300px; border-style:dashed; border-color:orange;" >
 
     </div>*@

    <br />
    <input type="submit" value="Post Files" />
    <br />
    <br />

    <div class="progress col-md-3" >
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            0%
        </div>
    </div>
       
    </form>
</div>


@section scripts{
    
<script src="~/Scripts/httpPostedFileHelper.js"></script>   
    }
